/* header */

.top-logo {
  width: 30%;
  margin-left: auto;
}

header {
  width: 100%;
  height: 120px;
  background-color: #d0dcd8;
  padding: 20px;
  position: fixed;
  z-index: 10;
}

.header-menu {
  float: right;
  line-height: 80px;
}

.header-item {
  display: inline;
  list-style: none;
  font-size: 18px;
  padding-left: 20px;
}

.lineup-menu{
  display: none;
  position: absolute;
  background-color: rgba(246, 246, 246, 0.826);
}

.lineup-item {
  display: block;
  position: relative;
  width: 100px;
}

.fa-bars {
  display: none;
}



 /* body(共通) */

 div {
   display: block;
 }

a {
   text-decoration: none;
   color: black;
   cursor: pointer !important;
  }

  a:hover{
	border-bottom: black 1px solid;
}

  body {
    font-family: serif;
    margin: 0;
  }

   .section-title {
     text-align: center;
   }

   .container {
     width: 100%;
     max-width: 960px;
     margin: 0 auto;
   }

   .clear::after {
    content: "";
    clear: both;
    display: block;
  }

   * {
     box-sizing: border-box;
   }

   .item {
     padding: 15px;
     height: 150px;
     border-top: #000000 1px solid;
   }

   .item h1 {
     font-size: 20px;
   }

  .item p {
    font-size: 15px;
  }

   .fa-arrow-alt-circle-right {
     color: #000000;
     font-size: 24px;
     float: right;
     padding: 20px;
     cursor: pointer;
   }

   section {
     padding-top: 180px;
   }

   h2 {
     font-size: 50px;
     text-align: center;
     background-color: #d0dcd8;
     padding: 20px;
   }




/* top */

#top {
  padding-top: 120px;
}

.slider {
  width: 100%;
  margin: 0 auto;
}




 /* about */
.info-txt {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}




/* write,other */

.itembtn {
  cursor: pointer;
}

#write,#erase,#cut,#other {
  padding-top: 120px;
}

.item-col3 {
  display: inline-block;
  vertical-align: top;
  width: 302px;
  border: #000000 1px solid;
  margin-right: 20px;
  font-size: 0;
}

.item-col3:last-of-type {
  display: inline-block;
  vertical-align: top;
  width: 302px;
  border: #000000 1px solid;
  margin-right: 0;
}




/* erase,cut*/
.item-col2 {
  display: inline-block;
  vertical-align: top;
  width: 302px;
  border: #000000 1px solid;
  margin: 20px 80px;
  font-size: 0;
}




/* shop */

table.shop-table {
  margin: auto;
  margin-top: 50px;
  width: 600px;
  border-collapse: collapse;
}

table.shop-table th,table.shop-table td {
  border: solid 1px #000000;
  padding: 8px;
  border-collapse: collapse;
}

.th-title {
  font-size: 24px;
}




/* contact */

th {
  width: 250px;
}

.form,textarea {
  width: 600px;
  margin: 0 auto;
}

.submit {
 text-align: center;
}




/* modal */
.modal-wrapper,.modal-contact {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4446432a;
  z-index: auto;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  width: 600px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

.modal span {
  font-size: 8px;
  color: #ec3333;
}

.fa-times-circle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.modalmenu {
  display: inline;
  padding: 6px;
  font-size: 8px;
  font-weight: bold;
  margin: 5px auto;
  border-radius: 3px;
}

.telephone {
  background-color: #bfecdd;
}

.net {
  background-color: #bbbbf5;
}

.post {
  background-color: #ffb6bd;
  cursor: pointer;
}




/* footer */

footer {
  width: 100%;
  margin: 0;
  background-color: #d0dcd8;
  height: 80px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  line-height: 80px;
}


/* responsive */


/* iPad size */

@media screen and (max-width: 768px)  {

  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

   .modal {
     width: 480px;
     left: 3%;
   }

   .modalmenu {
     width: 350px;
   }

   .form {
    width: 300px;
  }

   .item-col3,.item-col2 {
     width: 70%;
    }

    .item-col3 {
      margin: 20px 80px;
    }

    .item-col3:last-of-type {
      width: 70%;
    }

    .item-col3 img,.item-col2 img,.item-col3:last-of-type img {
      width: 100%;
    }

    .form,textarea {
      width: 400px;
    }

    footer {
      width: 100%;
    }


/* iPhone size */

@media screen and (max-width: 400px) {

  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .fa-bars {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 20;
  }

  .header-menu {
    display: none;
    position: relative;
  }

  .top-logo {
    width: 70%;
    float: none;
  }

  .header-item {
    display: block;
    font-size: 14px;
  }

  section {
    padding-top: 12px;
  }

  .section-title img {
    width: 30%;
  }

  h2 {
    font-size: 24px;
  }

    .info-txt {
      font-size: 18px;
    }

     .modal {
      width: 340px;
    }

    .modalmenu {
      width: 280px;
      padding: 10px;
    }

    table.shop-table {
      width: 300px;
    }

    th {
      width: 140px;
    }

   span {
     display: block;
   }

   .responsive {
     display: block;
   }

     .item-col3,.item-col2 {
       width: 80%;
       margin: 20px 40px;
     }

     .item-col3:last-of-type {
       width: 80%;
     }

     .item-col3 img,.item-col2 img,.item-col3:last-of-type img {
       width: 100%;
     }

     .shop {
      width: 320px;
      margin-bottom: 180px;
      height: 700px;
    }

}